<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<div class="container">
    <form th:action="@{/admin/edit}" th:object="${user}" method="post">
        <p><input type="hidden" th:field="*{id}"/></p>
        <p><label for="login">login</label></p>
        <p><input type="text" th:field="*{login}" id="login" value="login" required></p>
        <p><label for="lastName">lastName</label></p>
        <p><input type="text" th:field="*{lastName}" id="lastName" value="lastName" required></p>
        <p><label for="department">department</label></p>
        <p><input type="text" th:field="*{department}" id="department" value="department" required></p>
        <p><label for="mail">mail</label></p>
        <p><input type="text" th:field="*{mail}" id="mail" value="mail" required></p>
        <p><label for="mail">password</label></p>
        <p><input type="text" th:field="*{password}" id="password" value="mail" required></p>
        <ul>
            <li th:each="role : ${rolelist}">
                <input type="checkbox" name="roles" th:field="*{roles}" th:value="${role}"
                       th:text="${role.getRoleName}" />
            </li>
        </ul>

        <p><input type="submit" value="edit"></p>
    </form>
    <form th:action="@{/admin}" method="get">
        <input type="submit" value="Return"/>
    </form>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout"/>
    </form>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>